@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Karantina:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
    
}

:root{
    --branco: #DDE1EE;
    --preto: #222222;
}

body{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("media/ruido.png");
    background-repeat: repeat;
    background-size: cover;
}

/*Header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(3px);
}

a, a:visited{
    color: var(--branco);
}


header p{
    color: var(--preto);
    font-family: Italiana;
    font-size: 16px;
    cursor: default;
    transition-property: all;
    transition-duration: .25s;
}

.p-branco{
    color: var(--branco);
}

.p-preto{
    color: var(--preto);
}

menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

menu li{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

menu li:hover::after{
    position: absolute;
    content: "";
    width: 25px;
    height: 1px;
    background-color: var(--branco);
    animation: fade .5s;
}

menu .menu{
    display: none;
}

nav{
    width: 730px;
    height: 65px;
    background-color: #222222f6;
    color: var(--branco);
    font-family: Karantina;
    font-size: 32px;
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 0px 0px 10px 10px;
}

/*Main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    width: 100%;
    background-image: url("media/main-pattern.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main aside{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}


main h1{
    text-align: center;
    width: 942px;
    height: 154px;
    color: var(--preto, #222);
    font-family: Karantina;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 18px;
    margin-top: 50px;
}


main .infos{
    display: flex;
    align-items: center;
    gap: 250px;
  
}


main .infos .espec{
    color: var(--preto, #222);
    text-align: center;
    font-family: Italiana;
    font-size: 32px;
}

/*PROJETOS*/

#projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
}

#projetos .container{
    width: 100%;
    height: 200%;
    background: radial-gradient(50% 50% at 50% 50%, #313131 0%, #222 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 11px 11px 34px 0px rgba(0, 0, 0, 0.25), 43px 45px 62px 0px rgba(0, 0, 0, 0.21), 96px 102px 84px 0px rgba(0, 0, 0, 0.13), 170px 182px 100px 0px rgba(0, 0, 0, 0.04), 266px 284px 109px 0px rgba(0, 0, 0, 0.00);
}

#projetos .container .titulo{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 125px;
    border: 2px solid var(--preto);
    background: var(--branco);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.25) inset, 0px 24px 24px 0px rgba(0, 0, 0, 0.21) inset, 0px 55px 33px 0px rgba(0, 0, 0, 0.13) inset, 0px 98px 39px 0px rgba(0, 0, 0, 0.04) inset, 0px 152px 43px 0px rgba(0, 0, 0, 0.00) inset;
    
        
}

#projetos .container .titulo h1{
    width: 100%;
    color: var(--preto);
    text-align: center;
    font-family: Playfair Display;
    font-size: 96px;
    font-style: normal;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.29), 0px 5px 5px rgba(0, 0, 0, 0.26), 0px 12px 7px rgba(0, 0, 0, 0.15), 0px 21px 8px rgba(0, 0, 0, 0.04), 0px 33px 9px rgba(0, 0, 0, 0.01);
    font-weight: 400;
    line-height: normal;
    letter-spacing: 8.64px;
}

#projetos .container .faixa{
    margin-top: 80px;
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    background-color: var(--preto);
    border: 1px solid var(--branco);
    font-family: Italiana;
    font-size: 16px;
    color: var(--branco);
    font-weight: 400;
    letter-spacing: 1.44px;
    overflow: hidden;
    position: relative;
}


#projetos .container .faixa p{
    position: absolute;
    width: 100%;
}

#projetos .container .faixa p:first-child{
    left: 100%;
    animation: slide 17s infinite linear;
}

#projetos .container .faixa p:last-child{
    animation: slide 18s infinite linear;
}

@keyframes slide{
    from { transform: translate(-150%);}
    to{transform: translate(100%);}
}

.projeto{
    color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px 60px 30px;
    height: 588px;
    width: 100%;

}

.projeto .infos1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}

.projeto h4{
    width: 205px;
    height: 116px;
    border: 1px solid var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Karantina;
    font-size: 64px;

}

.projeto .infos1 p{
    width: 48px;
    height: 288px;  
    font-family: Karantina;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 81%; /* 29.16px */
    letter-spacing: 5.4px;
    display: flex;
    align-items: center;
}

.projeto .main{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.projeto .site{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.projeto .main .site h2{
    width: 341px;
    height: 100%;   
    text-align: right;
    font-family: Karantina;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.76px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.64), 0px 4px 4px rgba(0, 0, 0, 0.55), 0px 10px 6px rgba(0, 0, 0, 0.33), 0px 18px 7px rgba(0, 0, 0, 0.10), 0px 27px 8px rgba(0, 0, 0, 0.01);
}

.projeto .main .site p{
    width: 310px;
    height: 151px;  
    color: #DDE1EE;
    text-align: right;
    font-family: Karantina;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.88px;
}

.projeto img{
    width: 356px;
    height: 254px;
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.34), 0px 33px 33px 0px rgba(0, 0, 0, 0.30), 0px 74px 44px 0px rgba(0, 0, 0, 0.18), 0px 132px 53px 0px rgba(0, 0, 0, 0.05), 0px 206px 58px 0px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 100ms;
}

.projeto img:hover{
    scale: 110%;
}

.projeto .infos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Karantina;
    font-size: 28px;
    width: 205px;
    height: 120px;
    border: solid 1px var(--branco);
    align-self: flex-start;
    text-align: center;

}

.projeto .infos2 p{
    width: 205px;
    padding: 0px 2px 0px 2px;
    letter-spacing: 1px;
    gap: 20px;
}

#projetos .linha{
    width: 1000px;
    height: 1px;
    background-color: var(--branco);
    margin: 50px 0px 30px 0px;
}

.b{
    flex-direction: row-reverse;
}

.b .main{
    flex-direction: row-reverse;
}

.b .main .site h2{
    text-align: left;
}

.b .main .site p{
    text-align: left;
}

.b .infos1{
    align-items: flex-end;

}

.b .infos1 p{
    justify-content: flex-end;
}

.reverse{
    transform: rotateX(180deg);
}

/*SOBRE*/

#sobre{
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-bottom: 200px;
  
}

#sobre h1{
    height: 169px;
    width: 100%;
    color: var(--preto);
    text-align: center;
    font-family: Playfair Display;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 62px;
            
}

#sobre .infos1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}

#sobre .infos1 p{
    width: 567px;
    height: 537px;
    color: var(--preto);
    font-family: Karantina;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
    display: flex;
    align-items: center;
}

#sobre .infos1 .foto{
    width: 400px;
    height: 537px;
    background-color: var(--preto);
    background-image: url("media/eu.jpg");
    background-position: center;
    box-shadow: 3px 1px 6px 0px rgba(0, 0, 0, 0.29), 11px 5px 12px 0px rgba(0, 0, 0, 0.26), 24px 10px 16px 0px rgba(0, 0, 0, 0.15), 43px 18px 19px 0px rgba(0, 0, 0, 0.04), 67px 28px 20px 0px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    overflow: hidden;
}

#sobre .tec-container{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-self: flex-end;

}

.tec-container .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--preto);
    box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.20), 0px 38px 38px 0px rgba(0, 0, 0, 0.17), 0px 85px 51px 0px rgba(0, 0, 0, 0.10), 0px 151px 60px 0px rgba(0, 0, 0, 0.03), 0px 236px 66px 0px rgba(0, 0, 0, 0.00);
}

.tec-container .icon img{
    width: 50px;
    height: 50px;
    transition-property: all;
    transition-duration: .3s;
    transition-delay: 50ms;

}

.tec-container .icon img:hover{
    scale: 110%;
}

@keyframes fade {
    0%{
        opacity: 0%;
        transform: scale(.9);
}
}

.tec-container .icon:hover::after{
    position: absolute;
    margin-top: 150px;
    color: var(--preto);
    font-family: Karantina;
    font-size: 32px;
    letter-spacing: 2px;
    animation: fade .5s;
}

#java:hover::after{
    content: "Java";
}
#c:hover::after{
    content: "C";
}
#html:hover::after{
    content: "HTML";
}
#css:hover::after{
    content: "CSS";
}
#js:hover::after{
    content: "JavaScript";
}

#sobre .infos2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
}

#sobre .infos2 h2{
    color: var(--preto);
    font-family: Karantina;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 21.76px;
    width: 1600px;
    height: 343px;
    transform: rotate(-90deg);
}

#sobre .infos2 p{
    color: var(--preto);
    text-align: right;
    font-family: Karantina;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
}

/*CONTATO*/

footer{
    background-color: var(--preto);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -21px 47px 0px rgba(0, 0, 0, 0.15), 0px -85px 85px 0px rgba(0, 0, 0, 0.13), 0px -191px 115px 0px rgba(0, 0, 0, 0.08), 0px -340px 136px 0px rgba(0, 0, 0, 0.02), 0px -531px 149px 0px rgba(0, 0, 0, 0.00);
    background-image: url("media/contato-pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

#contato{
    width: 1150px;
    height: 100%;
}

#contato .titulo{
    margin-top: 90px;
    display: flex;
    width: 1109px;
    height: 281px;
    border: 1px solid var(--branco);
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    color: var(--branco);
}

#contato .titulo h1{
    font-family: Karantina;
    font-size: 150px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#contato .titulo p{
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
}

#contato .infos1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--branco);
    align-items: center;
    margin-top: 90px;
}

#contato .contatos{
    display: flex;
    flex-direction: column;

}


#contato .contatos div{
    display: flex;
    font-family: Playfair Display;
    font-size: 32px;
    align-items: center;
    gap: 50px;
}

.contatos div p{
    height: 150px;
    display: flex;
    align-items: center;
}

#contato .contatos div .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--branco);
    filter: drop-shadow(-3px 0px 7px rgba(0, 0, 0, 0.74)) drop-shadow(-13px 2px 13px rgba(0, 0, 0, 0.64)) drop-shadow(-29px 4px 18px rgba(0, 0, 0, 0.38)) drop-shadow(-51px 7px 21px rgba(0, 0, 0, 0.11)) drop-shadow(-80px 11px 23px rgba(0, 0, 0, 0.01));
}

#contato .img-container img{
    width: 50px;
    height: 50px;
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 100ms;
}

#contato .img-container img:hover{
    scale: 110%;
}

#contato .infos1 h2{
    color: var(--preto);
    text-align: right;
    font-family: Italiana;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 282px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--branco);
}

#contato .linha{
    width: 450px;
    height: 1px;
    background-color: var(--branco);
    margin: 50px 0px 30px 0px;
}

#contato .infos2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

#contato .qr{
    width: 344px;
    height: 345px;
    border: 1px solid var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contato .qr img{
    width: 272px;
    height: 272px;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.98), 0px 22px 22px 0px rgba(0, 0, 0, 0.85), 0px 49px 29px 0px rgba(0, 0, 0, 0.50), 0px 87px 35px 0px rgba(0, 0, 0, 0.15), 0px 136px 38px 0px rgba(0, 0, 0, 0.02);
}

#contato .infos2 .contatos p{
    color: var(--branco);
}

#gh{
    width: 65px;
    height: 65px;
}

#direito{
    text-align: center;
    font-family: Playfair Display;
    font-size: 24px;
    color: var(--branco);
    margin-bottom: 50px;
}

/*Efeito reveal*/
.projeto, .infos1, .infos2{
    visibility: hidden;
}

/*Infos sobre os projetos*/

#info{
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: #222222a1;
    backdrop-filter: blur(1px);
}

#info .x{
    margin-left: 85%;
    margin-top: 15px;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 100ms;

}

#info .x:hover{
    scale: 110%;
}

#info h1{
    color: var(--preto);
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2.4px;
}

#info .container{
    animation: fade .5s;
    width: 635px;
    height: 613px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    margin-top: 5%;
    box-shadow: 0px 14px 31px 0px rgba(0, 0, 0, 0.93), 0px 57px 57px 0px rgba(0, 0, 0, 0.81), 0px 128px 77px 0px rgba(0, 0, 0, 0.48), 0px 228px 91px 0px rgba(0, 0, 0, 0.14), 0px 356px 100px 0px rgba(0, 0, 0, 0.02);
    
}

#info .linha{
    width: 530px;
    height: 1px;
    background-color: var(--preto);
}

#info div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#info div aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#info .imagens{
    gap: 20px;
}

#info div aside p{
    width: 312px;
    height: 238px;
    color: var(--preto);
    text-align: right;
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 500;
}

#info a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 67px;
    border-radius: 10px;
    background: var(--preto, #222);
    box-shadow: 0px 3px 6px 0px rgba(34, 34, 34, 0.39), 0px 11px 11px 0px rgba(34, 34, 34, 0.34), 0px 26px 15px 0px rgba(34, 34, 34, 0.20), 0px 46px 18px 0px rgba(34, 34, 34, 0.06), 0px 72px 20px 0px rgba(34, 34, 34, 0.01);
    color: var(--branco);
    text-align: center;
    font-family: Karantina;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-delay: 100ms;
}

#info a:hover{
    scale: 110%;
}

#info .imagens img{
    width: 232px;
    height: 165px;
    border: 1px solid var(--preto, #222);
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.25), -10px 0px 10px 0px rgba(0, 0, 0, 0.21), -21px 0px 13px 0px rgba(0, 0, 0, 0.13), -38px 0px 15px 0px rgba(0, 0, 0, 0.04), -60px 0px 17px 0px rgba(0, 0, 0, 0.00);

}

#info .p-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    text-align: center;
    color: var(--preto);
    font-family: Playfair Display;
    font-size: 13px;
    font-weight: 500;
    border: var(--preto) solid 1px;
}

/*Adaptação mobile*/

@media (max-width: 767px) {

    header{
        justify-content: space-between;
        height: 65px;
    }

    header p{
        display: none;
    }


    nav{
        width: 100%;
        height: 100%;
        border-radius: 0;
        font-size: 24px;
    }

    /*Main*/

    main{
        height: 290px;
        width: 100%;
        background-image: url("media/main-pattern-2.png");
        background-size: cover;
        
    }

    main h1{
        text-align: center;
        width: 100%;
        letter-spacing: 5.76px;
        height: 70px;
        font-size: 78px;
    }

    main .infos .espec{
        font-size: 24px;
    }

    /*PROJETOS*/

    #projetos .container .titulo{
        height: 60px;
    }

    #projetos .container .titulo h1{
        font-size: 42px;
        font-weight: 600;
        letter-spacing: 3.24px;

    }

    #projetos .container .faixa{
        margin-top: 10px;
        height: 23px;
        font-size: 6px;
 
    }

    .projeto{
        padding: 50px 0px 0px 0px;
        height: 360px;
        position: relative;
        justify-content: flex-start;
    
    }

    .projeto h4{
        width: 50px;
        height: 50px;
        font-size: 32px;
    }

    .projeto .infos1{
        justify-content: flex-start;
        gap: 25px;
        
    }

    .projeto .infos1 p{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 81%; /* 16.2px */
        letter-spacing: 3px;
        width: 48px;
        height: 112px;
    }

    .projeto .main{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;

    }

    .projeto .site{
        margin-top: 30px;
        gap: 10px;
        align-items: flex-start;
        
    }

    .projeto .main .site h2{
        width: 120px;
        height: 54px;   
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.16px;
        text-align: left;
    }

    .projeto .main .site p{
        width: 169px;
        height: 68px;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.44px;
        text-align: left;

    }

    .projeto img{
        width: 222px;
        height: 158px;
   
    }

    .projeto .infos2{
        font-size: 20px;
        width: 95px;
        height: 50px;
        align-self: flex-end;
        position: absolute;
        right: 0;
   
    }

    .projeto .infos2 p{
        font-size: 18px;
        width: 100%;
    }


    #projetos .linha{
       width: 200px; 
    }

    .b .main .site{
        align-items: flex-end;
    }

    .b .main .site h2{
        text-align: right;
    }
    
    .b .main .site p{
        text-align: right;
    }

    .b .infos2{
        left: 0;
    }

    /*SOBRE*/

    #sobre{
        width: 100%;
    }

    #sobre h1{
        width: 100%;
        height: 75px;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        letter-spacing: 9px;
    }

    #sobre .infos1{
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 48px;
    }

    #sobre .infos1 p{
        margin-top: 30px;
        width: 356px;
        height: 300px;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.16px;
        text-align: center;
    }

    #sobre .infos1 .foto{
        width: 216px;
        height: 290px;
        background-size: cover;
    }

    #sobre .tec-container{
        justify-content: space-evenly;
        width: 100%;
        height: 50px;
        gap: 10px;

    }

    .tec-container .icon{
        width: 50px;
        height: 50px;
    }

    .tec-container .icon img{
        width: 50%;
        height: 50%;
    }

    #sobre .infos2{
        position: relative;
        justify-content: flex-end;
        width: 100%;
    }

    #sobre .infos2 h2{
        position: absolute;
        align-self: center;
        width: 300px;
        height: 252px;
        font-size: 36px;
        letter-spacing: 12.24px;
        left: 0;
    }

    #sobre .infos2 p{
        width: 290px;
        height: 100%;
        text-align: right;
        font-family: Karantina;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.16px;
        padding-right: 20px;
    }

    /*CONTATO*/

    footer{
        background-repeat: repeat;
    }

    #contato{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contato .titulo{
        height: 129px;
        flex-direction: column;
        width: 100%;
    }

    #contato .titulo h1{
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #contato .titulo p{
        margin-left: 0;
        font-size: 20px;
    }

    #contato .infos1{
        flex-direction: column;
        margin-top: 45px;
        gap: 50px;
    }

    #contato .contatos{
        gap: 40px;
        align-items: center;
    }

    #contato .contatos div{
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    
    }

    .contatos div p{
        width: 100%;
        height: 100%;
    }

    #contato .contatos div .img-container{
        width: 45px;
        height: 45px;
    }

    #contato .img-container img{
        width: 25px;
        height: 25px;
    }

    #contato .infos1 h2{
        width: 300px;
        height: 93px;   
        font-size: 40px;
        text-align: center;
    }

    #contato .linha{
        width: 100px;
      
    }

    #contato .infos2{
        flex-direction: column;
        gap: 50px;
        margin-bottom: 80px;
    }

    #contato .qr{
        width: 200px;
        height: 200px;
        
    }

    #contato .qr img{
        width: 150px;
        height: 150px;
    }

    /*Infos sobre os projetos*/

    #info{
        z-index: 2;
        justify-content: flex-start;
        align-items: baseline;

    }

    #info .x{
        position: absolute;
        margin-left: 0;
        margin-top: 0;
        top: 4%;
        right: 6%;
    }

    #info .container{
        width: 100%;
        height: 100%;

    }

    #info h1{
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.6px;
        margin-top: 70px;
    }

    #info div{
        flex-direction: column;
        gap: 20px;
    }
    
    #info .imagens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
       
    }

    #info div aside p{
        margin: 20px 0px 20px 0px;
        width: 240px;
        height: 125px;
        text-align: center;
        font-family: Playfair Display;
        font-size: 15px;
        font-weight: 500;
    }

    #info a{
        margin-top: 25px;
        align-self: center;
    }

}